{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Вход в систему</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Email или Логин</label>
                        <input type="text" name="username" id="id_username"
                               class="form-control"
                               placeholder="Введите ваш логин или email" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Пароль</label>
                        <input type="password" name="password" id="id_password"
                               class="form-control"
                               placeholder="Введите пароль" required>
                    </div>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}