{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% load static %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="d-flex justify-content-center align-items-center">
            <img src="{% static 'images/favicon.png' %}" alt="Skystore Icon" class="me-3"
                 style="width: 50px; height: auto;">
            <h1 class="display-4">Skystore</h1>
        </div>
        <p class="lead">Skystore - это товары высокого качества по низкой цене</p>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            {% for product in page_obj %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ product.price }} руб.</h1>
                            <ul class="list-unstyled mt-1 mb-4 text-start m-1">
                                <li>Описание: {{ product.description|truncatechars:100|default:"отсутствует" }}</li>
                            </ul>
                            <a class="btn btn-outline-primary btn-lg"
                               href="{% url 'catalog:product_details' product.pk %}" role="button">Просмотр</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if i >= page_obj.number|add:-1 and i <= page_obj.number|add:1 %}
                            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}